@page "/description"
@inject HttpClient Http

<PageTitle>Task desctiption</PageTitle>

<h2>Task desctiption</h2>
<br>
<p>get all data about “Pink Floyd" and store it into your DB:</p>
<p>kind, collectionName, trackName, collectionPrice, trackPrice, primaryGenreName, trackCount, trackNumber, releaseDate.</p>
<p>Output the data for the year of releaseDate (the year is set) in the form of a table and sort them by trackPrice in descending order</p>


@code {

}
